footer.footer
  .container
    .footer__wrapper
      .footer__item
        h6.title 
          img(src="img/icon5.svg", alt="Recently Added Jobs")
          span Recently Added Jobs

        ul 
          li: a(href="#") Infrastructure Architect (Azure) 
          li: a(href="#") Security Analyst
          li: a(href="#") Customer Success Manager

      .footer__item 
        h6.title 
          img(src="img/icon6.svg", alt="Recently Added Jobs")
          span Join Our Team

        p
          b Pretium id nunc consectetur tempor non. Et maecenas ipsum scelerisque tristique sed enim senectus nisl, et. Nec ridiculus arcu sit a et tristique duis.
        
        button.btn(type="button" data-target="#resumeApply").modal-open  Our team


      .footer__item 
        h6.title 
          img(src="img/icon7.svg", alt="Recently Added Jobs")
          span Get in touch

        p MMD Services, Inc. 211 W. Wacker Dr. Suite 1500C, Chicago, IL 60606
        p 
          a(href="tel:(847) 322-1326") (847) 322-1326
        p 
          a(href="mailto:mdubov@mmdtech.com") mdubov@mmdtech.com

        button.btn(type="button" data-target="#referFriend").modal-open Refer a Friend  

      .footer__certificate 
        img(src="img/footer-img1.svg", alt="Certified")

section.copy
  .container
    .copy__wrapper 
      span MMD Services © 2022. Some Rights Reserved
      span.divider |
      a(href="policy.html") Privacy policy