nav.nav       
  .container-fluid.container-md
    .nav__wrapper 
      a.logo-brand(href="#" aria-label="Home")
        img(src="img/logo-brand.svg", alt="Logo") 

      ul.nav__menu#mobileMenu
        li: a(href="#") Find a Job 
        li: a(href="#") About us 
        li: a(href="#") Find Talent 
        li: a(href="#") Insights
        li: a(href="#") Contact Us

      ul.nav__sub-links 
        li
          a(href="#" aria-label="Facebook")
            img(src="img/icon-fb.svg", alt="Facebook")
            | Facebook 

        li
          a(href="#" aria-label="LinkedIn")
            img(src="img/icon-in.svg", alt="Linkedin")
            | Linkedin

      .d-lg-none 
        button(type="button", aria-label="Menu").burger-menu#burgerBtn
          span 
          span 
          span
        