nav.nav       
  .container-fluid.container-md
    .nav__wrapper 
      a.logo-brand(href="index.html" aria-label="Home")
        img(src="img/logo-brand.svg" alt="Logo") 

      ul.nav__menu#mobileMenu
        li: a(href="about-us.html") About us
        li: a(href="our-team.html") Our Team 
        li: a(href="#") Join our team
        li: a(href="find-job.html") Find a Job
        li: a(href="find-talent.html") Find Talent
        li: a(href="insights.html") MMD Minute
        li: a(href="contractors-corner.html") Contractor’s Corner
        li: a(href="contact-us.html") Contact Us

      ul.nav__sub-links 
        li
          a(href="#" aria-label="Facebook")
            img(src="img/icon-fb.svg" alt="Facebook")
            | Facebook 

        li
          a(href="#" aria-label="LinkedIn")
            img(src="img/icon-in.svg" alt="Linkedin")
            | Linkedin

      .d-xxl-none 
        button(type="button" aria-label="Menu").burger-menu#burgerBtn
          span 
          span 
          span
