extends ../layout/layout.pug

block header
  header.header
    .bg.bg-overlay
      img(src="img/header-img3.jpg")
    .container 
      .content-full
        h1.title About Us
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content
  section.about-us 
    .container 
        h2.title Our Story 
        .content 
          p 
            b Lorem ipsum dolor sit amet, onsectetur adipiscing elit.  Lorem ipsum dolor sit amet, onsectetur adipiscing elit.

          p Adipiscing diam senectus eleifend blandit laoreet viverra porta. Lorem fames tellus condimentum hac velit sodales. Ipsum nisl, in mauris mauris curabitur metus, iaculis. Nec felis aenean quisque turpis. Mauris molestie condimentum mauris, magna. Lectus tristique sed arcu mauris id sapien. Aliquet ac ridiculus tempus maecenas. Sollicitudin dolor massa sollicitudin convallis enim at eget ipsum. Magna quisque purus scelerisque diam, et sit tellus. Pretium faucibus laoreet turpis nisi. Faucibus lacus nulla eu mi, neque, risus. Urna tincidunt viverra sit eleifend dictumst aliquam. 
          p Donec quam cras pellentesque proin sit aliquet. Quis ut semper pretium morbi sagittis, sed. Ac tincidunt sed id sit adipiscing id tortor. Nec, vestibulum nullam nunc neque. Quis vitae eu amet habitant mauris. Vitae dignissim eros lacus, netus consequat nibh sodales. Adipiscing amet, turpis diam nulla quis dui urna, pharetra tellus. Malesuada porttitor porta sit consectetur morbi praesent.

block scripts
  script(src="js/script.js")

  
 


