extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img3.jpg")
    .container 
      .content-full
        h1.title Insight article

block content
  section.def-blue 
    .container 
      h2.title The Counteroffer As A Form of Blackmail
      p: i 
        | Written by 
        b  Maria Dubov

      p As a recruiter of many years, I support and encourage healthy negotiating. In fact, I am happy to coach candidates through it as they consider multiple offers. There are many situations where counteroffers come up unplanned, from the current employer and alternative offers come in in parallel with each other, because candidates interview with several employers at the same time. It is absolutely appropriate to leverage them against one another. However recently we began to see a new trend in so called “negotiating” that feels more like blackmail. Please allow me to explain and pinpoint the difference between respectable negotiation techniques and behavior that makes employers question the candidates integrity and ruins their reputation in the marketplace.

      h5 How Does This Work

      p As we all know, interviewing has become a lot easier today, since employers have turned to a mostly virtual process. You don’t need to take time off; just hop on a call or two and before you know it, you are in final rounds with a new employer! Unfortunately, some candidates are not going through this process because they are genuinely considering a new role. They are only after an official job offer, so that they can corner their employer into giving them a fat raise. Since replacing specialists is pricey and time consuming, most of the time a counteroffer makes sense, at least as a band-aid. Happy with the outcome, the candidate stays in their current role and willingly shares their “success stories” with their colleagues. As a result, this behavior becomes more and more contagious and unfortunately, it’s encouraged with every counteroffer given by a desperate manager.


      h5 Why This Is This Bad For Everyone
      p For the employee it’s usually a career suicide. Do not kid yourself, your manager didn’t just realize how valuable you were! They know that you have been looking, and they do feel blindsided and manipulated. They will always remember this. The trust, one of the most valuable components of any relationship, is broken. Now, it is a fair game to replace you for someone cheaper and more eager as soon as they can find that replacement. Please keep in mind that we recruiters are here to help. The timing will now be on the employer’s terms. Meanwhile, you have burned bridges with prospective employers who also realize that they have been used, and you effectively wasted their time.

      p For employers this “quick fix”, might help you meet project deadlines, but it would have a damaging affect in the long run. Giving a counteroffer to one person sends a false message to the rest of your team. The word-of-mouth travels fast, and as a result, you would have one employee with an artificially inflated salary and a number of others who would be preoccupied in fake interviewing so that they can follow their footsteps and blackmail you into a raise as well.

      h5 Lose-Lose Strategy

      p With this said, I would not recommend this “strategy” to either party, it is game with no winners. If you are a candidate who is already investing time in interviewing, it would make sense to actually take a better opportunity and get all of the benefits of the new role. If you chose the right next step, aside from a salary increase, you would also be gaining more responsibilities and the opportunity to learn new skills— all that is a lot more valuable than just a raise alone. Step out of your comfort zone and take your career to the next level.

      p If you are a manager who received a resignation from a key player, bite the bullet and let them go. You can get a consultant to fill in while you are looking to replace your specialist. It could even have an added benefit since outside resources typically come in with fresh ideas and pass on new skills to your team. Even though finding a replacement candidate today is a lengthy process, it’s not impossible and the new person will be excited about their role and therefore will prove to be more effective than their manipulative predecessor.

      h5 Do Not Get It Mixed Up
      p How can we all tell that it was a planned counter from an unexpected one? Well, we don’t have to assume anything, the candidates aren’t even hiding it anymore. They actually tell the prospective employer that they cannot accept their job offer until they discuss it with their current manager. This only means that all along they were trying to use their offer to get their current employer to counter it and they never intended to switch jobs. In the eyes of the prospective employer this doesn’t make you look like a skillful negotiator; it makes you look like a short-sighted deceitful scammer.

    .container 
      .back-ins 
        a(href="insights.html").back-ins__link ← &nbsp; Back to insights list


block scripts
  script(src="js/script.js")

  
 


