extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img3.jpg")
    .container 
      .content-full
        h1.title Contact Us
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content
  section.contact-us 
    .container 
      .wrapper
        .media 
          img.map(src="img/map-placeholder.jpg", alt="PLACEHOLDER")

        .content 
          a.logo-brand(href="/" aria-label="Home")
            img(src="img/logo-brand.svg", alt="Logo")
          
          .contact-us__contacts 
            p MMD Services, Inc. 211 W. Wacker Dr. Suite 1500C, Chicago, IL 60606
            p (847) 322-1326
            p mdubov@mmdtech.com

      .contact-us__desk 
        p Lorem ipsum dolor sit amet, onsectetur adipiscing elit.  Lorem ipsum dolor sit amet, onsectetur adipiscing elit.Lorem ipsum dolor sit amet, onsectetur adipiscing elit.  Lorem ipsum dolor sit amet, onsectetur adipiscing elit.Lorem ipsum dolor sit 


   

block scripts
  script(src="js/script.js")

  
 


