extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img5.jpg")
    .container 
      .content-full
        h1.title Contractor’s Corner
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content

  section.contractors 
    .container 
      h3 At MMD Services our contractors make up who we are!
      p They represent us at our client sites every day, and are some of our most cherished assets. We CARE about you! Your recruiter or account representative is available on/off hours to address any concerns or to discuss next steps in your career. Your recruiter will periodically check in with you to see that your assignment is going as planned and your expected career values are being met. Please e-mail your recruiter with your new contact information as soon as you start your new position. We assure you that we respect your privacy; all conversations will remain confidential and best efforts will be made to achieve your job satisfaction with us.

      p
        b Whether you are W-2 or 1099/Corp2Corp, all necessary government forms can be downloaded below in your specific ‘Welcome Package’. Please fill them out according to your status and e-mail your recruiter a signed PDF version.

      a(href='files/MMD-Welcome-Package-for-1099-Contractors.pdf' download)
        img(src='img/download-icon.svg' alt='Download file')
        | MMD Welcome Package for 1099 Contractors

      a(href='files/MMD-Welcome-Package-for-W-2-Contractors.pdf' download)
        img(src='img/download-icon.svg' alt='Download file')
        | MMD Welcome Package for W-2 Contractors

      h3 Timesheets
      p Timesheets are due each Friday by 5pm. They must be accurately filled out with the correct dates and the hours for each day must be rounded to the nearest quarter hour. Your supervisor’s signature validates your timesheet for our payroll, therefore signed timesheets need to be e-mailed to billing@mmdtech.com in a form of a signed PDF file.

      p
        b Please note that our Office Manager, Roman Peleshchyshyn is always available to answer your payroll questions or provide benefit information.  He can be reached at: (773) 968-2002 or billing@mmdtech.com.
      

      a(href='files/MMD-Services-Timesheets.pdf' download)
        img(src='img/download-icon.svg' alt='Download file')
        | MMD Services Timesheets

      h3 Expanse Reports
      p All expenses need to be pre-approved with your supervisor on site. If you are accruing work related expenses and would like us to address this with your supervisor, please contact your recruiter or account rep so that proper reimbursement protocol can be established. If an MMD Expense Report Form is authorized, you can begin to fill it out and submit to us along with your Timesheet. Your supervisor’s signature is required for payment.

      a(href='files/MMD-Services-Expance-Report.pdf' download)
        img(src='img/download-icon.svg' alt='Download file')
        | MMD Services Expance Report




block scripts
  script(src="js/script.js")

  
 


