extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img3.jpg")
    .container 
      .content-full
        h1.title Contact Us
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content
  section.contact-us 
    .container 
      .wrapper
        .media 
          img.map(src="img/map-placeholder.jpg", alt="PLACEHOLDER")

        .content 
          .logo-brand
            img(src="img/logo-brand.svg", alt="Logo")
          
          .contact-us__contacts 
            p MMD Services, Inc. 211 W. Wacker Dr. Suite 1500C, Chicago, IL 60606
            p 
              a(href="tel:+(847) 322-1326").btn
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.5997 10.6196C22.9272 7.03133 21.013 4.30667 17.8913 2.44381C16.3721 1.53723 14.7153 1.04284 12.9515 0.90973C12.8922 0.905436 12.8341 0.885196 12.7748 0.872314C12.2857 0.872314 11.7966 0.872314 11.3075 0.872314C10.8857 0.930586 10.4614 0.977203 10.0414 1.0502C7.37334 1.51453 5.13206 2.76768 3.31874 4.77591C1.70045 6.56822 0.740597 8.67888 0.404344 11.0735C0.365216 11.3526 0.335871 11.6336 0.302246 11.9139C0.302246 12.4046 0.302246 12.8953 0.302246 13.386C0.359715 13.8099 0.403122 14.2362 0.477709 14.6569C1.00777 17.6429 2.472 20.0744 4.84411 21.9446C6.68738 23.3977 8.79171 24.2031 11.1302 24.3896C11.1895 24.3945 11.2476 24.4147 11.3063 24.4276C11.7954 24.4276 12.2845 24.4276 12.7736 24.4276C13.2107 24.3675 13.6515 24.327 14.0843 24.2448C17.5979 23.5762 20.283 21.6968 22.141 18.6391C23.0861 17.0835 23.6027 15.3814 23.7403 13.5639C23.7446 13.5038 23.7654 13.4455 23.7782 13.386C23.7782 12.8953 23.7782 12.4046 23.7782 11.9139C23.7201 11.4821 23.6798 11.0472 23.5997 10.6196ZM12.3511 6.38114C12.9258 6.44248 13.5139 6.48051 14.0648 6.63937C16.4668 7.33189 18.183 9.56768 18.2936 12.0764C18.2936 12.1451 18.2936 12.2144 18.2936 12.2831C18.2948 12.6033 18.1255 12.8107 17.854 12.8211C17.5887 12.8309 17.4071 12.6328 17.3772 12.3126C17.3466 11.985 17.3325 11.6532 17.2696 11.3318C16.83 9.10212 14.8938 7.42512 12.6348 7.3049C12.5278 7.29938 12.4208 7.29877 12.3144 7.2865C12.0417 7.25583 11.8638 7.06813 11.8681 6.82339C11.873 6.56761 12.0735 6.35108 12.3511 6.38114ZM11.87 9.36649C11.892 9.09722 12.1066 8.93099 12.422 8.93835C14.2182 8.9819 15.6965 10.4675 15.7387 12.2727C15.746 12.5862 15.5755 12.8021 15.3052 12.8205C15.043 12.8383 14.8357 12.6432 14.8253 12.3236C14.7844 11.076 13.9076 10.1345 12.8347 9.91547C12.6782 9.88358 12.5174 9.87376 12.3578 9.85781C12.043 9.82653 11.8479 9.63209 11.87 9.36649ZM18.8212 17.1136C18.6617 17.519 18.4819 17.9171 18.3248 18.3238C17.9885 19.1923 17.3069 19.5211 16.4357 19.5463C15.6421 19.569 14.8944 19.3555 14.1675 19.0611C12.3835 18.3385 10.8661 17.2129 9.48745 15.8917C7.96209 14.43 6.65804 12.799 5.78989 10.8509C5.4353 10.0553 5.18281 9.23216 5.12289 8.34214C5.18647 8.0287 5.2256 7.70789 5.32036 7.40427C5.4512 6.98778 5.71347 6.65839 6.12309 6.47806C6.65376 6.24435 7.18382 6.00943 7.72488 5.80088C8.11126 5.65182 8.53005 5.80272 8.74219 6.16032C9.18299 6.90374 9.61645 7.65269 10.0346 8.40961C10.2608 8.81874 10.1184 9.29963 9.73017 9.56155C9.68615 9.5916 9.63907 9.61737 9.59322 9.64497C8.75442 10.151 8.5704 11.1165 9.16281 11.8936C10.2131 13.2719 11.4206 14.4944 12.8047 15.5335C13.0267 15.7003 13.3183 15.8242 13.5916 15.861C14.2194 15.9457 14.7 15.6647 15.0277 15.1219C15.3884 14.5232 15.8329 14.4061 16.4326 14.752C17.088 15.1299 17.7428 15.5077 18.3963 15.8886C18.894 16.1775 19.034 16.5738 18.8212 17.1136Z" fill="white"/>
                </svg>
                | Call us

            p mdubov@mmdtech.com

      .contact-us__desk 
        p Lorem ipsum dolor sit amet, onsectetur adipiscing elit.  Lorem ipsum dolor sit amet, onsectetur adipiscing elit.Lorem ipsum dolor sit amet, onsectetur adipiscing elit.  Lorem ipsum dolor sit amet, onsectetur adipiscing elit.Lorem ipsum dolor sit 


   

block scripts
  script(src="js/script.js")

  
 


