extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img2.jpg")
    .container 
      .content-full
        h1.title Find a Job
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content
   
  section.submit-resume  
    .container 
      .submit-resume__wrapper
        .media 
            img(src="img/section-img2.jpg", alt="Submit Your Resume")

        .content 
          h2.title Submit Your Resume

          p Lorem ipsum dolor sit amet, onsectetur adipiscing elit.  Lorem ipsum dolor sit amet, onsectetur adipiscing elit.
          a.btn(href="#") Apply Now


  section.find-search 
    .container 
      .content 
        h2.title Search Available Jobs
        form.find-search__form(action="")
          input#jobTitle(type="text", name="jobTitle", placeholder="Job title or keyword") 
          input#jobZip(type="text", name="jobZip", placeholder="Location or Zip Code")
          button.btn(href="#") Search Jobs

  section.cards.cards_col-3 
    .container 
      h2.title Browse Jobs
      
      .cards__wrapper 

        .cards__item
          img.img(src="img/icon13.svg", alt="Icon")
          h6.title Remote Positions

        .cards__item
          img.img(src="img/icon8.svg", alt="Icon")
          h6.title Remote Positions

        .cards__item
          img.img(src="img/icon9.svg", alt="Icon")
          h6.title Remote Positions

        .cards__item
          img.img(src="img/icon10.svg", alt="Icon")
          h6.title Job Search Support

        .cards__item
          img.img(src="img/icon11.svg", alt="Icon")
          h6.title Our Friends in HR

        .cards__item
          img.img(src="img/icon12.svg", alt="Icon")
          h6.title Careersupport

       


block scripts
  script(src="js/script.js")

  
 


