extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img5.jpg")
    .container 
      .content-full
        h1.title Contractor’s Corner
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content





block scripts
  script(src="js/script.js")

  
 


