extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img2.jpg")
    .container 
      .content-full
        h1.title Find Talent
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content
  section.def-blue 
    .container 
      h3.title Tech Hiring Made Easy
      p Finding the right person to fill your IT position can be hard work.
      p Hours spent reviewing junky resumes, interviews with disappointing candidates, and explaining position requirements again and again.  In some cases the hiring process takes so looong that IT managers settle for second best.  Rather than hiring the perfect candidate, they hire someone who is “good enough”.
      p At MMD we don’t believe in “good enough”.  We work with companies all over the Chicago area to make hiring top talent easy.  By leveraging our massive candidate database and network of contacts, we locate the passive job seekers, the A-list talent that you’re not going to find on Dice or Monster.

      button.btn(type="button", data-target="#contactMe").modal-open Apply Now

  section.cards.cards_col-3.cards_invert.cards_animated 
    .container 
      h3.title We offer 3 different hiring scenarios which can be customized

      .cards__wrapper 

        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon14.svg", alt="Icon")
              h6.title Contract to Hire
            .cards__item-back  
              .desc: p  Neque, aenean non dui sem hac massa lorem fermentum arcu. Nec eget consectetur sed fames lacus, vitae. Sed phasellus.
        
        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon15.svg", alt="Icon")
              h6.title Short and long term contracts
            .cards__item-back  
              .desc: p  Vestibulum magna justo ultricies mauris. Quis netus gravida habitasse quam tristique massa hac. Nulla et velit ipsum eget magna tincidunt.
        
        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon16.svg", alt="Icon")
              h6.title Permanent Placement
            .cards__item-back  
              .desc: p  Purus urna sollicitudin massa condimentum luctus nulla. Sapien volutpat dui sit etiam nam est viverra enim. Enim placerat. 
              

  section.def-blue 
    .container 
      h3.title Sit back and Relax
      p Working with us is easy (and fun!)

      p After discussing the position requirements with you, we’re going to put our superstar recruiters to work.  They’ll obsessively query our database,  review hundreds of resumes, and discuss the position with potential candidates.  Once we’re confident that we’ve found a good fit we’ll send you one or two resumes.

      p We’ll ask you to review the resume and provide us with feedback.  If the candidate looks like a winner then we’ll schedule a face to face interview and optional phone screen.  If our candidate is lacking in some area, then we’ll crack the whip and put our recruiters back to work until they find the perfect candidate.

      p Lectus auctor turpis cras pellentesque erat. Eget purus amet id arcu ultrices eget et aliquam ut. Tristique nisi pulvinar amet massa. Turpis cursus fames elementum dapibus ante dignissim. Platea lacinia diam volutpat non in mauris malesuada. Id cras pellentesque arcu bibendum duis turpis. Libero leo, fermentum eu risus tortor.

      p Turpis justo, odio duis pretium, duis ullamcorper quisque. Erat turpis vel viverra in in. Interdum sit vitae senectus sit.

      button.btn(type="button", data-target="#contactMe").modal-open Apply Now




block scripts
  script(src="js/script.js")

  
 


