extends ../layout/layout.pug

block header
  header.header
    .splide(aria-label='Header slider')
      .splide__arrows.splide__arrows--ltr
        .container
          button.splide__arrow.splide__arrow--prev(type='button' disabled='' aria-label='Previous slide' aria-controls='splide01-track')
            svg(width='47' height='89' viewbox='0 0 47 89' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M45.682 0.93934C46.2678 1.52513 46.2678 2.47487 45.682 3.06066L4.24264 44.5L45.682 85.9393C46.2678 86.5251 46.2678 87.4749 45.682 88.0607C45.0962 88.6464 44.1464 88.6464 43.5607 88.0607L0 44.5L43.5607 0.93934C44.1464 0.353553 45.0962 0.353553 45.682 0.93934Z' fill='white')
          button.splide__arrow.splide__arrow--next(type='button' aria-label='Next slide' aria-controls='splide01-track')
            svg(width='47' height='89' viewbox='0 0 47 89' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M0.439358 0.93934C-0.146427 1.52513 -0.146427 2.47487 0.439358 3.06066L41.8787 44.5L0.439358 85.9393C-0.146427 86.5251 -0.146427 87.4749 0.439358 88.0607C1.02515 88.6464 1.97489 88.6464 2.56068 88.0607L46.1213 44.5L2.56068 0.93934C1.97489 0.353553 1.02515 0.353553 0.439358 0.93934Z' fill='white')

      .splide__track
        ul.splide__list
          li.splide__slide 
            .slide
              .bg.bg-overlay
                img(src="img/header-img1.jpg")
              .container
                .content
                  h1.title Find the Perfect Fit
                  .btn-group 
                    a.btn(href="find-job.html") Find a Job
                    a.btn(href="find-talent.html") Find Talent

          li.splide__slide 
            .slide
              .bg
                  img(src="img/header-img2.jpg")
              .container
                h1.title Find the Perfect Fit 2
                .btn-group 
                  a.btn(href="find-job.html") Find a Job
                  a.btn(href="find-talent.html") Find Talent

          li.splide__slide 
            .slide 
              .bg
                img(src="img/header-img1.jpg")
              .container
                h1.title Find the Perfect Fit 3
                .btn-group 
                  a.btn(href="find-job.html") Find a Job
                  a.btn(href="find-talent.html") Find Talent


block content
  section.cards.cards_animated 
    .container 
      .cards__wrapper 

        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon1.svg", alt="Icon")
              h6.title Philanthropy
            .cards__item-back  
              .desc: p  Neque, aenean non dui sem hac massa lorem fermentum arcu. Nec eget consectetur sed fames lacus, vitae. Sed phasellus.
        

        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon2.svg", alt="Icon")
              h6.title Job Search Support
            .cards__item-back  
              .desc: p  Vestibulum magna justo ultricies mauris. Quis netus gravida habitasse quam tristique massa hac. Nulla et velit ipsum eget magna tincidunt.
        
        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon3.svg", alt="Icon")
              h6.title Our Friends in HR
            .cards__item-back  
              .desc: p  Purus urna sollicitudin massa condimentum luctus nulla. Sapien volutpat dui sit etiam nam est viverra enim. Enim placerat. 
              

        .cards__item
          .cards__item-inner
            .cards__item-front
              img.img(src="img/icon4.svg", alt="Icon")
              h6.title Careersupport
            .cards__item-back  
              .desc: p  Faucibus scelerisque lorem sagittis eget morbi. Non amet, arcu, nunc, aliquet orci dui. Turpis mauris vulputate magna posuere.

  section.home-about 
    .container  
      h2.title MMD Home of the Queen of Staffing

      .home-about__wrapper 
        .media 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8jMWwsEjK-4" title="Old Geezer's Guide to Age-Proofing Your Resume" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        .content 
          p Justo, in pulvinar in pulvinar risus nunc. Viverra sed ullamcorper sit ut id. Eget leo elit scelerisque vel. Aenean donec risus, elementum sem convallis. Nunc quam molestie ut augue. Ut imperdiet cursus vitae a. Sit viverra purus, pellentesque ultrices nulla libero enim. Laoreet aliquet feugiat mauris, vel at sollicitudin cursus. Viverra mattis eget malesuada tortor. Id hac tempus cursus in nulla amet, justo nunc. Tellus id.
        
  section.home-started  
    .container 
      .home-started__wrapper
        .content 
          h2.title Get Started Now
          p: b Id hendrerit nec nisi, enim pellentesque ultricies. Porttitor nunc nulla orci, feugiat rutrum varius pulvinar sed quisque.
          p Ultrices cum tellus ut vestibulum. Dolor sodales velit eu arcu duis. Scelerisque eros, ornare nibh gravida. Ultricies phasellus aliquet purus sed nunc. Habitant id dolor tempus, suspendisse urna habitant. Tristique mauris, ullamcorper viverra netus et. Pulvinar accumsan ac commodo pretium. Quam convallis morbi eget non nisi. 
          button.btn(type="button" data-target="#resumeApply").modal-open Get Started

        .media 
          img(src="img/section-img1.jpg", alt="Get Started")


block scripts
  script(src="js/script.js")

  
 


