extends ../layout/layout.pug

block header
  header.header
    .bg
      img(src="img/header-img2.jpg")
    .container 
      .content-full
        h1.title Senior node.js Developer
        a.btn(href="#", data-target="#jobApply").modal-open Apply Now

block content
  section.def-blue.job-single 
    .container 
      h3.title Senior node.js Developer for Retail Company

      p 
        <svg width="33" height="41" viewBox="0 0 33 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1394 40.4586C23.9635 34.6916 31 21.2515 31 14C31 6.26801 24.732 0 17 0C9.26801 0 3 6.26801 3 14C3 21.2867 9.21698 34.8224 15.792 40.5422C16.4783 41.1393 17.493 41.0987 18.1394 40.4586ZM17 20C20.3137 20 23 17.3137 23 14C23 10.6863 20.3137 8 17 8C13.6863 8 11 10.6863 11 14C11 17.3137 13.6863 20 17 20Z" fill="white"/>
        </svg>&nbsp

        b  Chicago, IL

      p 
        <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17 33C26.1127 33 33.5 25.6127 33.5 16.5C33.5 7.3873 26.1127 0 17 0C7.8873 0 0.5 7.3873 0.5 16.5C0.5 25.6127 7.8873 33 17 33ZM19.9475 11.6354L17.9014 7.37626C17.5382 6.62031 16.4618 6.62031 16.0986 7.37626L14.0525 11.6354C13.9067 11.9389 13.618 12.1486 13.2844 12.1935L8.60135 12.8233C7.77017 12.9351 7.43754 13.9589 8.04427 14.5379L11.4627 17.8C11.7062 18.0325 11.8165 18.3718 11.7561 18.703L10.908 23.3514C10.7574 24.1765 11.6283 24.8092 12.3664 24.4111L16.5253 22.168C16.8216 22.0082 17.1784 22.0082 17.4747 22.168L21.6336 24.4111C22.3717 24.8092 23.2426 24.1765 23.092 23.3514L22.2439 18.703C22.1835 18.3718 22.2938 18.0325 22.5373 17.8L25.9557 14.5379C26.5625 13.9589 26.2298 12.9351 25.3986 12.8233L20.7156 12.1935C20.382 12.1486 20.0933 11.9389 19.9475 11.6354Z" fill="white"/>
        </svg>&nbsp
        b  Node.js TypeScript


      p Currently, we're looking for a Senior Node.js Developer for Retail Company.

      p The customer is a Canadian retail company which operates in the automotive, hardware, sports, leisure and housewares sectors. It is a family of businesses that includes a retail segment, a financial services division and CT REIT.

      h5 Responsibilities

      ul 
        li 3+ years of experience developing service-based applications using Node.js
        li Expert-level skills in developing web applications using JavaScript, CSS and HTML5
        li Software design patterns and paradigms comprehension

      h5 Requirements

      ul 
        li Active participation in whole development process
        li Feature development and work on feature definition and review as a part of DoR
        li Close collaboration with other projects, streams and vendors
        li Keeping focused on China business interests in terms of prioritization and demand
        li Proficient English (written and spoken) B2

      h5 Nice To Have

      ul 
        li Experience with Gitlab CI

      a.btn(href="#", data-target="#jobApply").modal-open Apply Now


  section.cards.cards_x6
    .container 
      h2.title Browse Jobs
      
      .cards__wrapper 

        a(href="category-jobs.html").cards__item
          img.img(src="img/icon13.svg", alt="Icon")
          h6.title Remote Positions

        a(href="category-jobs.html").cards__item
          img.img(src="img/icon8.svg", alt="Icon")
          h6.title Enterprise Applications

        a(href="category-jobs.html").cards__item
          img.img(src="img/icon9.svg", alt="Icon")
          h6.title Leadership

        a(href="category-jobs.html").cards__item
          img.img(src="img/icon10.svg", alt="Icon")
          h6.title Open Source

        a(href="category-jobs.html").cards__item
          img.img(src="img/icon11.svg", alt="Icon")
          h6.title Support / Network / Systems / Voice

        a(href="category-jobs.html").cards__item
          img.img(src="img/icon12.svg", alt="Icon")
          h6.title Technical Sales

       


block scripts
  script(src="js/script.js")

  
 


