extends ../layout/layout.pug

block header
  header.header
    .bg.bg-overlay
      img(src="img/header-img6.jpg")
    .container 
      .content-full
        h1.title Oops!
        p We can’t find the page that you’re looking for :(
        a.btn(href="index.html") Back to home

block content
      

block scripts
  script(src="js/script.js")

  
 


