extends ../layout/layout.pug

block header
  header.header
    .bg.bg-overlay
      img(src="img/header-img1.jpg")
    .container 
      .content-full
        h1.title Our Team
        p Companies across the United States are looking for candidates just like you. Start your search today!

block content

  section.ta-list
    .container 
      .ta-list__wrapper 
        .ta-list__item
          img.img(src="img/team-member1.jpg", alt="Avatar1")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title Maria Dubov, Founder (a.k.a The Queen of Staffing)
            .ta-list__desk
              p 
                b Maria 
                | (The Queen of Staffing) was born in Kiev, when Ukraine was still a Soviet country. She came to the States as a teenager. Her roots attribute to her unconventional, creative approach and a lovely mini bar at the office.  
            ul.ta-list__social 
              li
                a(href="mailto:some-mail@.gmail.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo

              li
                a(href="http://www.linkedin.com/pub/maria-dubov/2/b/b39" aria-label="LinkedIn", target="_blank")
                  img(src="img/icon-in.svg", alt="Linkedin")
                  | Linkedin

              li
                a(href="tel:+(847) 322-1326")
                  img(src="img/icon-tel.svg", alt="Phones")
                  | Phones

        .ta-list__item
          img.img(src="img/team-member2.jpg", alt="Avatar2")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title Alana Eckert (Thomas)
            .ta-list__desk
              p 
                b Alana 
                | joined MMD in 2012. Along with her charming personality, she brought innovation and progress into our group. It was clear right away that staffing was not a bus stop for Alana — it was her life from day one. She is known in the industry as a one stop shop for career support.
            ul.ta-list__social 
              li
                a(href="mailto:some-mail@.gmail.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo

              li
                a(href="https://www.linkedin.com/in/athomas4" aria-label="LinkedIn", target="_blank")
                  img(src="img/icon-in.svg", alt="Linkedin")
                  | Linkedin

        .ta-list__item
          img.img(src="img/team-member3.jpg", alt="Avatar3")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title DeLanee DeBolt, Technical Recruiting Manager
            .ta-list__desk
              p 
                b DeLanee 
                | , our Technical Recruiting Manager, has been with us since 2014. Born and raised in the Mid-west, at the foundation of her great success lies a good old-fashioned work ethic and unmatched integrity! DeLanee respects her candidates and feels that representing them in their job search is an honor. 
            ul.ta-list__social 
              li
                a(href="mailto:some-mail@.gmail.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo

              li
                a(href="https://www.linkedin.com/in/delaneedebolt" aria-label="LinkedIn", target="_blank")
                  img(src="img/icon-in.svg", alt="Linkedin")
                  | Linkedin

        .ta-list__item
          img.img(src="img/team-member4.jpg", alt="Avatar4")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title Shannon Kennedy, IT Recruiter
            .ta-list__desk
              p 
                b Shannon 
                |  is the nicest person at MMD, considering how nice we all are, its quite an accomplishment! She comes from a small town in Central Illinois and managed to preserve Midwestern values, she treats every job applicant as a guest in her own home, with genuine hospitality! 
            ul.ta-list__social 
              li
                a(href="mailto:some-mail@.gmail.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo

              li
                a(href="https://www.linkedin.com/in/shannon-kennedy-a78ba1115/" aria-label="LinkedIn", target="_blank")
                  img(src="img/icon-in.svg", alt="Linkedin")
                  | Linkedin

        .ta-list__item
          img.img(src="img/team-member5.jpg", alt="Avatar5")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title Nicolette Brick, IT Recruiter
            .ta-list__desk
              p  
                |  If you meet 
                b Nicolette 
                | , the first thing you will notice is her big genuine smile! She is a ray of sunshine, who finds the silver lining in any situation. Nicolette is a world traveler who enjoys Chicago for the melting pot of cultures that it is! She enjoys public transportation, loud bars and all venues where there are people!
            ul.ta-list__social 
              li
                a(href="mailto:some-mail@.gmail.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo

              li
                a(href="https://www.linkedin.com/in/nicolettebrick/" aria-label="LinkedIn", target="_blank")
                  img(src="img/icon-in.svg", alt="Linkedin")
                  | Linkedin

        .ta-list__item
          img.img(src="img/team-member6.jpg", alt="Avatar6")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title Jake Speikers, IT Recruiter
            .ta-list__desk
              p 
                | As soon as we met 
                b Jake 
                | we couldn’t help but notice that he was born to be a recruiter! He really does have a “recruiting gene”! His genuine interest in people is extremely apparent. He helps his candidates grow wings as he diligently works on getting them closer to reaching their dreams.
            ul.ta-list__social 
              li
                a(href="mailto:some-mail@.gmail.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo

              li
                a(href="https://www.linkedin.com/in/jake-speikers-a363b7202/" aria-label="LinkedIn", target="_blank")
                  img(src="img/icon-in.svg", alt="Linkedin")
                  | Linkedin

        .ta-list__item
          img.img(src="img/team-member7.jpg", alt="Avatar7")
          .ta-list__content
            button(type="button", data-target="#memberOverview").modal-open: h3.title Roman Peleshchyshyn, Office Administrator
            .ta-list__desk
              p  
                b Roman 
                |  is at your service- you can contact him at billing@mmdtech.com or call him at (312) 801-8638 EXT. 108 to answer any questions regarding billing, payroll, business expenses or health benefits.

            ul.ta-list__social 
              li
                a(href="mailto:billing@mmdtech.com" aria-label="MailTo", target="_blank")
                  img(src="img/icon-mail.svg", alt="mail")
                  | MailTo



block scripts
  script(src="js/script.js")

  
 


