/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 20px;

  @media screen and (max-width: 576px) {
    padding-top: 70px;
  }
}

.modal-body {
  & > * {
    margin-top: 0;
  }
}

.modal-header {
  padding: 20px 0;

  @media screen and (max-width: 576px) {
    padding-bottom: 10px;
  }
}

.modal-content {
  position: relative;
  color: white;
  background: #0059B1;
  margin: auto;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-height: 100%;
  max-width: 80%;
  width: 100%;

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-body {
    padding: 20px 40px;
    margin-bottom: 30px;
    max-height: calc(100% - 100px);
    overflow-y: auto;

    // For Chrome & Safari
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #E9E9E9;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #D2D2D2;
    }
  
    &::-webkit-scrollbar-track {
      background: #E9E9E9;
    }
  
    // Standard version (Firefox only for now)
    scrollbar-color: #D2D2D2 #E9E9E9;
    scrollbar-width: thin;

    @media screen and (max-width: 576px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    
  }

  .modal-header {
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (max-width: 576px) {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      row-gap: 20px;
    }
  }

  /* The Close Button */
  .btn-close {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.5858 0.585786C26.3668 -0.195262 27.6332 -0.195262 28.4142 0.585786C29.1953 1.36683 29.1953 2.63317 28.4142 3.41421L17.3284 14.5L28.4142 25.5858C29.1953 26.3668 29.1953 27.6332 28.4142 28.4142C27.6332 29.1953 26.3668 29.1953 25.5858 28.4142L14.5 17.3284L3.41421 28.4142C2.63316 29.1953 1.36683 29.1953 0.585785 28.4142C-0.195263 27.6332 -0.195263 26.3668 0.585785 25.5858L11.6716 14.5L0.585786 3.41421C-0.195262 2.63317 -0.195262 1.36683 0.585786 0.585786C1.36683 -0.195262 2.63317 -0.195262 3.41421 0.585786L14.5 11.6716L25.5858 0.585786Z' fill='white'/%3E%3C/svg%3E%0A");
  
    @media screen and (max-width: 576px) {
      background-size: 25px;
      position: absolute;
      
      top: -40px;
      right: 0;
    }
  }
}


#resumeApply {
  .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    width: 100%;
  }

  .modal-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  
    .title {
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 15px;

      @media screen and (max-width: 576px) {
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        column-gap: 10px;
      }

      svg {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @media screen and (max-width: 576px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .input-textarea {
    min-height: 100px;
  }
}

#contactMe {
  .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    width: 100%;
  }

  .modal-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  
    .title {
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 15px;

      @media screen and (max-width: 576px) {
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        column-gap: 10px;
      }

      svg {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @media screen and (max-width: 576px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .input-textarea {
    min-height: 150px;
  }
}


#memberOverview {
  .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (max-width: 1600px) {
      max-width: 1150px;
    }

    @media screen and (max-width: 1400px) {
      max-width: 900px;
    }

    @media screen and (max-width: 993px) {
      max-width: 700px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
    }
    
    @media screen and (max-width: 768px) {
      max-width: 530px;
    }

    @media screen and (max-width: 576px) {
      padding-top: 0;
    }
  }

  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;

    @media screen and (max-width: 576px) {
      background-size: 18px;
      width: 20px;
      height: 20px;
      right: 10px;
      top: 10px;
    }
  }

  .modal-header {
    .title {
      margin: 0;
    }

    .subtitle {
      font-size: 26px;
      font-style: italic;

      @media screen and (max-width: 993px) {
        font-size: 20px;
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }

      @media screen and (max-width: 576px) {
        font-size: 14px;
      }
    }

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    @media screen and (max-width: 576px) {
      padding-right: 35px;
    }
  }

  .wrapper {
    display: flex;
    column-gap: 45px;

    @media screen and (max-width: 1400px) {
      column-gap: 30px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      row-gap: 30px;
    }
  }

  .media {
    flex-shrink: 0;

    .img {
      width: 340px;
      height: 340px;
      border-radius: 50%;

      @media screen and (max-width: 1600px) {
        width: 320px;
        height: 320px;
      }

      @media screen and (max-width: 1400px) {
        width: 250px;
        height: 250px;
      }

      @media screen and (max-width: 993px) {
        width: 200px;
        height: 200px;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;

    @media screen and (max-width: 768px) {
      width: 200px;
    }

    .ta-list__social img {
      max-width: 47px;
      max-height: 45px;
      width: 100%;
      object-fit: contain;
    }
  }

  .content {
    font-weight: 300;

    b {
      font-weight: 400;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .memberOverview {
    &__phones {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      &-item {
        display: flex;
        align-items: center;
        column-gap: 7px;
        text-decoration: none;
        color: #fff;

        img {
          width: 25px;
          height: 25px;
          object-fit: contain;
        }
      }
    }
  }
}

#searchFilters {
  .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    width: 100%;
  }

  .modal-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  
    .title {
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 15px;

      @media screen and (max-width: 576px) {
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        column-gap: 10px;
      }

      svg {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @media screen and (max-width: 576px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .modal-body {
    padding-top: 10px;
    margin-bottom: 15px;
  }
}

#jobApply {
  .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    width: 100%;
  }

  .modal-header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;

    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  
    .title {
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 15px;

      @media screen and (max-width: 576px) {
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        column-gap: 10px;
      }

      svg {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @media screen and (max-width: 576px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .input-textarea {
    min-height: 100px;
  }
}